.dashboard {
	padding: 0 20px;

	.wc-text {
		font-size: 50px;
		text-align: center;
		width: 100%;
		margin: 5px 0;
	}

	.dashboard-card {
		background-color: #fff;
		border-radius: 10px;
		position: relative;
		margin-bottom: 10px !important;
		height: 90%;
		
		.card-statistic-3 {
			.card-icon {
				text-align: center;
				line-height: 50px;
				color: #000;
				position: absolute;
				right: 15px;
				top: 15px;
				opacity: 0.1;
				font-size: 110px;
			}
		}
	}
}

@include media-mixin(max, 768px) {
	.dashboard .wc-text {
		font-size: 30px;
	}
}

// Background colors gradients //
.color-bg-cherry {
	background: linear-gradient(to right, #493240, #f09) !important;
	color: #fff;
}

.color-bg-blue-dark {
	background: linear-gradient(to right, #373b44, #4286f4) !important;
	color: #fff;
}

.color-bg-green-dark {
	background: linear-gradient(to right, #0a504a, #38ef7d) !important;
	color: #fff;
}

.color-bg-orange-dark {
	background: linear-gradient(to right, #a86008, #ffba56) !important;
	color: #fff;
}

.color-bg-cyan {
	background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
	color: #fff;
}

.color-bg-green {
	background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
	color: #fff;
}

.color-bg-orange {
	background: linear-gradient(to right, #f9900e, #ffba56) !important;
	color: #fff;
}

.color-bg-cyan {
	background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
	color: #fff;
}
.color-bg-blue-green {
	background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
	color: #fff;
}
.color-bg-rainbow {
	background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
	color: #fff;
}
.color-bg-mixed {
	background-image: linear-gradient(
		to top,
		#4fb576 0%,
		#44c489 30%,
		#28a9ae 46%,
		#28a2b7 59%,
		#4c7788 71%,
		#6c4f63 86%,
		#432c39 100%
	);
	color: #fff;
}
.color-bg-red-blue {
	background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
	color: #fff;
}
